@model IEnumerable<EngajaBlack1.Models.Empreendedor>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white mt-3">Tabela de Empreendedores</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar novo empreendedor</a>
</p>
<table class="table table-responsive tabela">
    <thead>
        <tr>
            <th>
                Nome da Loja
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comunidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Hora de Abertura
            </th>
            <th>
                Hora de Fechamento
            </th>
            <th>
                Nome do Proprietário
            </th>
            <th>
                CPF do Proprietário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Senha
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                Endereço
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLoja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comunidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                <a class="btn btn-primary mb-1" asp-action="Edit" asp-route-id="@item.CodigoEmpreendedor">Editar</a> 
                <a class="btn btn-info mb-1" asp-action="Details" asp-route-id="@item.CodigoEmpreendedor">Detalhes</a> 
                <a class="btn btn-danger mb-1" asp-action="Delete" asp-route-id="@item.CodigoEmpreendedor">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
