@model IEnumerable<EngajaBlack1.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white mt-3">Tabela de Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar novo cliente</a>
</p>
<table class="table table-responsive tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Senha
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                Endereço
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                Cartão de Crédito
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard)
            </td>
            <td>
                <a class="btn btn-primary mb-1" asp-action="Edit" asp-route-id="@item.CodigoCliente">Editar</a> 
                <a class="btn btn-info mb-1" asp-action="Details" asp-route-id="@item.CodigoCliente">Detalhes</a>
                <a class="btn btn-danger mb-1" asp-action="Delete" asp-route-id="@item.CodigoCliente">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
